  <div class="color-ball"></div>
<div class="homepage-container">
  
    <div class="section-1 welcome-box flex items-center">
       <div class="content-box">
          Windows: The OS that knows you better than your spouse.<br/> Linux: The OS that minds its own business.
       </div>
       <div class="image-box">
         
       </div>
    </div>
</div>
{{yield}}